* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100vh;
  width: 100vw;
}

.global-container {
  min-height: 100%;
}

.container_greet {
  margin: 6em auto 12em auto;
}

#bookCarousel {
  aspect-ratio: 3/2;
}

#bookCarousel .carousel-control-prev-icon, 
#bookCarousel .carousel-control-next-icon {
  filter: invert(100%);
}